@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
